<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Notes</title>
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div class="wrapper">
      <!-- vue app start -->
      <div id="app">
        <h1>{{title}}</h1>

        <form @submit.prevent="onSubmit">
          <input
            type="text"
            required
            v-model="input.value"
            :placeholder="input.placeholder"
          />
          <button type="submit">Add new note</button>
        </form>

        <div class="notes">
          <div class="note" v-for="note in notes" :key="note.id">
            <p >
              <span @click="remove(note.id)">&#10005;</span>
              <button type="button" @click="openEditNote(note)">Редактировать</button>
              {{note.name}}
            </p>
            <form @submit.prevent="onEdit" v-if="editableItem?.id === note.id">    
              <input
                type="text"
                required
                v-model="input.value"
                :placeholder="note.value"
              />
              <button type="submit">Edit note</button>
            </form>
          </div>
        </div>
      </div>
      <!-- vue app end -->
    </div>

    <script src="./app.js"></script>
  </body>
</html>
